<!-- Line 1 -->
<form [formGroup]="personTab" class="flex flex-col mt-2">
  <ng-template matStepLabel>Ratee Identification</ng-template>
  <div class="mt-2 formLineItem">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input
        matInput
        placeholder="First Name"
        formControlName="firstName"
        (input)="userInfo()"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        placeholder="Last Name"
        formControlName="lastName"
        (input)="userInfo()"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="basis-1/4">
      <mat-label>MI</mat-label>
      <input
        matInput
        formControlName="middleInitial"
        maxlength="1"
        (input)="userInfo()"
      />
    </mat-form-field>
  </div>

  <!-- Line 2 -->
  <div class="formLineItem">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Duty Title</mat-label>
      <input
        matInput
        formControlName="dutyTitle"
        (input)="userInfo()"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>SSN</mat-label>
      <input
        matInput
        formControlName="SSN"
        (input)="userInfo()"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="basis-1/4">
      <mat-label>Grade</mat-label>
      <input
        matInput
        formControlName="grade"
        (input)="userInfo()"
      />
    </mat-form-field>
  </div>

  <!-- Line 3 -->
  <div class="formLineItem">
    <mat-form-field appearance="outline" *ngIf="rateeFields">
      <mat-label>DAFSC</mat-label>
      <input
        matInput
        formControlName="DAFSC"
        (input)="userInfo()"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Organization</mat-label>
      <input
        matInput
        placeholder="ex: 552 ACNS"
        formControlName="org"
        (input)="userInfo()"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="raterFields">
      <mat-label>Branch</mat-label>
      <input
        matInput
        formControlName="branch"
        (input)="userInfo()"
      />
    </mat-form-field>
  </div>

  <!-- Line 4 -->
  <div class="formLineItem" *ngIf="raterFields">
    <mat-form-field appearance="outline">
      <mat-label>Signature</mat-label>
      <input
        matInput
        formControlName="signature"
        (input)="userInfo()"
      />
    </mat-form-field>
  </div>
</form>
