<mat-card class="m-3 w-[1080px]">
  <mat-card-content>
    <mat-stepper #stepper>
      <!-- TAB 01 -->
      <mat-step [stepControl]="rateeTab" state="person">
        <form [formGroup]="rateeTab" class="flex flex-col">
          <ng-template matStepLabel>Ratee Identification</ng-template>

          <runk-person-data
            (emitPerson)="setPerson($event)"
            [raterFields]="false"
            [role]="0"
          ></runk-person-data>

          <!-- Line 3 -->
          <div class="formLineItem">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>PAS Code</mat-label>
              <input matInput formControlName="PAS" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>FDID</mat-label>
              <input matInput formControlName="FDID" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Reason For Report</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let reason of reportReasons; let i = index"
                  [value]="reason"
                >
                  {{ displayReasons[i] }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Line 4 -->
          <div class="formLineItem">
            <mat-form-field appearance="outline">
              <mat-label>Select a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input
                  matStartDate
                  placeholder="Start date"
                  readonly
                  (dateChange)="calculateDaysOfRating()"
                  formControlName="startDate"
                />
                <input
                  matEndDate
                  placeholder="End date"
                  readonly
                  (dateChange)="calculateDaysOfRating()"
                  formControlName="endDate"
                />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="basis-1/2">
              <mat-label># of Days Non-Rated</mat-label>
              <input
                matInput
                formControlName="daysNonRated"
                [maxlength]="maxDaysNonRated.toString().length"
                [max]="maxDaysNonRated"
                [min]="0"
                (input)="calculateDaysOfRating()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="basis-1/2">
              <mat-label># of Days Rated</mat-label>
              <input
                matInput
                formControlName="daysRated"
                type="number"
                readonly
              />
            </mat-form-field>
          </div>

          <!-- Line 6 -->
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Key Duties, Tasks, Responsibilities</mat-label>
              <textarea
                matInput
                rows="{{ (240 / 240) * 2 }}"
                maxLength="{{ 240 }}"
                #keyDuties
                formControlName="keyDuties"
              ></textarea>
              <mat-hint align="end"
                >{{ keyDuties.value.length }} / {{ 240 }}</mat-hint
              >
            </mat-form-field>
          </div>

          <div class="flex justify-end mt-3">
            <button
              (click)="submitRatee()"
              mat-flat-button
              color="primary"
              matStepperNext
            >
              Next
              <mat-icon iconPositionEnd> arrow_forward_ios</mat-icon>
            </button>
          </div>
        </form>
      </mat-step>
      <!-- Tab 2 -->
      <mat-step [stepControl]="performanceTab" label="Performance Review">
        <form [formGroup]="performanceTab">
          <runk-review-scale
            *ngFor="let QA of QAs; let i = index"
            [questionNumber]="i"
            [QA]="QA"
            [charLimit]="charLimits[i]"
            [commentEnabled]="commentsEnabled[i]"
            (emitQA)="setQA($any($event))"
            (emitComment)="setComment($event, i)"
          ></runk-review-scale>

          <div class="flex justify-between mt-5">
            <button mat-button matStepperPrevious color="primary">
              <mat-icon> arrow_back_ios</mat-icon>
              Back
            </button>
            <button mat-flat-button color="primary" matStepperNext>
              Next
              <mat-icon iconPositionEnd> arrow_forward_ios</mat-icon>
            </button>
          </div>
        </form>
      </mat-step>

      <!-- Raters Section -->
      <!-- Tab 3 -->
      <mat-step label="Rater Information">
        <!-- Rater Information -->
        <h2 class="text-center mt-2">Rater Information</h2>
        <runk-person-data
          [rateeFields]="false"
          (emitPerson)="setPerson($event)"
          [role]="1"
        ></runk-person-data>

        <!-- Additional Rater Information -->
        <h2 class="text-center mt-2">Additional Rater Information</h2>
        <mat-button-toggle-group class="flex w-fit mx-auto">
          <mat-button-toggle [checked]="true" value="concur"
            >Concur</mat-button-toggle
          >
          <mat-button-toggle value="nonConcur">Non-Concur</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field appearance="outline" class="mt-5">
          <mat-label>Comments</mat-label>
          <textarea
            matInput
            #comment
            rows="{{ 2 }}"
            maxLength="{{ 240 }}"
          ></textarea>
          <mat-hint align="end"
            >{{ comment.value.length }} / {{ 240 }}</mat-hint
          >
        </mat-form-field>

        <runk-person-data
          [rateeFields]="false"
          (emitPerson)="setPerson($event)"
          [role]="2"
        ></runk-person-data>

        <!-- Commander Rater Information -->
        <h2 class="text-center mt-2">Commander Information</h2>
        <mat-button-toggle-group class="flex w-fit mx-auto">
          <mat-button-toggle [checked]="true" value="concur"
            >Concur</mat-button-toggle
          >
          <mat-button-toggle value="nonConcur">Non-Concur</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field appearance="outline" class="mt-5">
          <mat-label>Comments</mat-label>
          <textarea
            matInput
            #comment
            rows="{{ 1 }}"
            maxLength="{{ 120 }}"
          ></textarea>
          <mat-hint align="end"
            >{{ comment.value.length }} / {{ 120 }}</mat-hint
          >
        </mat-form-field>

        <div class="formLineItem justify-center">
          <mat-checkbox color="primary"
            >TIG/TIS Promotion Eligible</mat-checkbox
          >
          <mat-checkbox color="primary">Referral Report</mat-checkbox>
          <mat-checkbox color="primary">Quality Force Review</mat-checkbox>
        </div>

        <mat-divider class="mt-5"></mat-divider>
        <h3 class="text-center mt-3">Future Roles</h3>
        <div class="formLineItem">
          <mat-form-field appearance="outline">
            <mat-label>1.</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>2.</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>3.</mat-label>
            <input matInput />
          </mat-form-field>
        </div>

        <mat-divider class="mt-2"></mat-divider>
        <h3 class="text-center mt-3">Promotion Recommendation</h3>
        <mat-button-toggle-group class="flex w-fit mx-auto my-2">
          <mat-button-toggle [checked]="true" value="notReady"
            >Not Ready Now</mat-button-toggle
          >
          <mat-button-toggle value="promote">Promote</mat-button-toggle>
          <mat-button-toggle value="mustPromote"
            >Must Promote</mat-button-toggle
          >
          <mat-button-toggle value="promoteNow">Promote Now</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-divider class="mt-5"></mat-divider>

        <runk-person-data
          [rateeFields]="false"
          (emitPerson)="setPerson($event)"
          [role]="3"
        ></runk-person-data>

        <div class="flex justify-between mt-5">
          <button mat-button matStepperPrevious color="primary">
            <mat-icon> arrow_back_ios</mat-icon>
            Back
          </button>
          <button mat-flat-button color="primary" matStepperNext>
            Next
            <mat-icon iconPositionEnd> arrow_forward_ios</mat-icon>
          </button>
        </div>
      </mat-step>

      <!-- Signature -->
      <mat-step>
        <ng-template matStepLabel>Signature</ng-template>

        <div class="formLineItem mt-5">
          <mat-form-field appearance="outline">
            <mat-label>Signature</mat-label>
            <input matInput required />
          </mat-form-field>
        </div>

        <div class="flex justify-between mt-5">
          <button mat-button matStepperPrevious color="primary">
            <mat-icon> arrow_back_ios</mat-icon>
            Back
          </button>
          <button mat-flat-button color="primary" matStepperNext>
            Next
            <mat-icon iconPositionEnd> arrow_forward_ios</mat-icon>
          </button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
