<div class="grid m-3 gap-3 grid-cols-1 md:grid-cols-2 w-fit mx-auto">
  <!-- Create a PR -->
  <mat-card class="w-full m-5">
    <mat-card-header class="justify-center">
      <mat-card-title class="text-center">Create a PR</mat-card-title>
    </mat-card-header>
    <mat-card-content class="grid grid-cols-2 gap-3 mt-5">
      <button mat-fab extended color="primary" class routerLink="/pr">
        <mat-icon>person_add</mat-icon>
        <p class="mb-0">For Me</p>
      </button>
      <button mat-fab extended color="primary">
        <mat-icon>group_add</mat-icon>
        <p class="mb-0">For Another</p>
      </button>
      <button mat-fab extended color="primary">
        <mat-icon>note</mat-icon>
        <p class="mb-0">Blank Template</p>
      </button>
    </mat-card-content>
  </mat-card>

  <!-- View a PR -->
  <mat-card class="w-full m-5">
    <mat-card-header class="justify-center">
      <mat-card-title class="text-center">Edit/Review a PR</mat-card-title>
    </mat-card-header>
    <mat-card-content class="grid grid-cols-2 gap-3 mt-5">
      <button mat-fab extended color="primary">
        <mat-icon>person_add</mat-icon>
        <p class="mb-0">For Me (0)</p>
      </button>
      <button mat-fab extended color="primary">
        <mat-icon>group_add</mat-icon>
        <p class="mb-0">For Another (0)</p>
      </button>
      <button mat-fab extended color="primary">
        <mat-icon>note</mat-icon>
        <p class="mb-0">In-Progress (0)</p>
      </button>
    </mat-card-content>
  </mat-card>

  <!-- View a Past PR -->
  <mat-card class="w-full m-5">
    <mat-card-header class="justify-center">
      <mat-card-title class="text-center">View a Past PR</mat-card-title>
    </mat-card-header>
    <mat-card-content class="grid grid-cols-2 gap-3 mt-5">
      <button mat-fab extended color="primary">
        <mat-icon>person_add</mat-icon>
        <p class="mb-0">For Me (0)</p>
      </button>
      <button mat-fab extended color="primary">
        <mat-icon>group_add</mat-icon>
        <p class="mb-0">For Another (0)</p>
      </button>
    </mat-card-content>
  </mat-card>

  <!-- View Subordinates -->
  <mat-card class="w-full m-5">
    <mat-card-header class="justify-center">
      <mat-card-title class="text-center">View Subordinates</mat-card-title>
    </mat-card-header>
    <mat-card-content class="grid grid-cols-2 gap-3 mt-5">
      <button mat-fab extended color="primary">
        <mat-icon>groups</mat-icon>
        <p class="mb-0">View Profiles</p>
      </button>
      <button mat-fab extended color="primary">
        <mat-icon>groups</mat-icon>
        <p class="mb-0">This is Placeholder</p>
      </button>
    </mat-card-content>
  </mat-card>
</div>
